body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.react-tabs__tab-list
{
  margin: 0px;
  padding-bottom: 1px;
}

.react-tabs__tab
{
  font-family: 'Zelda';
  border-radius: 5px 5px 0 0;
  background-color: gray;
}

.react-tabs__tab--selected {
  background-color: white !important;
}

.react-tabs__tab-list {
  border-bottom: 0px;
}

@font-face {
  font-family: 'Zelda';
  src: url('../fonts/TLOZ-Minish-Cap-A-Link-to-the-Past-Four-Sword-Regular.ttf.eot'),
        url('../fonts/TLOZ-Minish-Cap-A-Link-to-the-Past-Four-Sword-Regular.ttf.woff') format('woff'),
	      url('../fonts/TLOZ-Minish-Cap-A-Link-to-the-Past-Four-Sword-Regular.ttf.svg#webfont') format('svg');
}

.zelda-text {
  color: white;
  font-family: 'Zelda', Arial, sans-serif;;
}

.status-green
{
  color: green;
}

.status-red
{
  color: red;
}
