.App {
  text-align: center;
  background-color: gray;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root
{
  background-color: gray;
}

.item-image
{
  width: 84px;
  height: 84px;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.gray
{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.boomerang-blue
{
  background: url(../images/boomerang-blue.png)
}

.boomerang-red
{
  background: url(../images/magical-boomerang.png)
}

.hookshot
{
  background: url(../images/hookshot.png)
}

.bombs
{
  background: url(../images/bomb.png)
}

.quake
{
  background: url(../images/quake.png)
}

.bombos
{
  background: url(../images/bombos.png)
}

.ether
{
  background: url(../images/ether.png)
}

.ice-rod
{
  background: url(../images/ice-rod.png)
}

.fire-rod
{
  background: url(../images/fire-rod.png)
}

.lamp
{
  background: url(../images/lamp.png)
}

.hammer
{
  background: url(../images/hammer.png)
}

.book
{
  background: url(../images/book.png)
}

.bug-net
{
  background: url(../images/bug-net.png)
}

.somaria
{
  background: url(../images/cane-someria.png)
}

.byrna
{
  background: url(../images/cane-byrna.png)
}

.cape
{
  background: url(../images/cape.png)
}

.mirror
{
  background: url(../images/mirror.png)
}

.boots
{
  background: url(../images/boots.png)
}

.flippers
{
  background: url(../images/flippers.png)
}

.magic-powder
{
  background: url(../images/magic-powder.png)
}

.flute
{
  background: url(../images/flute.png)
}

.moon-pearl
{
  background: url(../images/moon-pearl.png)
}

.mire
{
  background: url(../images/mire.png)
}

.thieves-town
{
  background: url(../images/thieves-town.png)
}

.swamp
{
  background: url(../images/swamp-palace.png)
}

.skull-woods
{
  background: url(../images/skull-woods.png)
}

.turtle-rock
{
  background: url(../images/turtle-rock.png)
}

.pod
{
  background: url(../images/pod.png)
}

.ice-palace
{
  background: url(../images/ice-palace.png)
}

.pendant-courage
{
  background: url(../images/pendant-courage.png)
}

.pendant-power
{
  background: url(../images/pendant-power.png)
}

.pendant-wisdom
{
  background: url(../images/pendant-wisdom.png)
}

.agahnim
{
  background: url(../images/agahnim.png)
}
